<<<<<<< HEAD

$color1: rgb(225, 230, 173);
$color2: lightblue;
$basecolor: #000;

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

@mixin design($c) {
    background-color: $c;
    color: $color2;
    padding: 40px;
    text-align: center;
}

body{

    #myId {                                
        @include design($color1);
      }

    #myClass {
        @include design($color2);
      } 
=======

$color1: rgb(225, 230, 173);
$color2: lightblue;
$basecolor: #000;

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

@mixin design($c) {
    background-color: $c;
    color: $color2;
    padding: 40px;
    text-align: center;
}

body{

    #myId {                                
        @include design($color1);
      }

    #myClass {
        @include design($color2);
      } 
>>>>>>> cbfd0a1b0c0c555bd3620b6cb346c3cc453373e6
}