body{
        
    color: rgb(255, 255, 255);
    background-image: url("/14_feb/images/bg.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: inline-block; 
}

.division{
    
    width: 75%;
    margin-top: 9%;
    padding: 0px 20px;
    
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 400%;
    margin: 0px 50px;
    line-height: 200%;
    box-shadow: 2px 10px 10px 3px;
}

.details{
    text-align: center;
    margin-top: 75px; 
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: lighter;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
}

.main{
    color: rgb(255, 255, 255); 
    font-size: larger; 
    font-weight: 500; 
    line-height: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




/*---------------------------- unvisited link---------------------------------*/
a:link {
    color: rgb(0, 0, 0);
  }
  
  /*---------------------------- visited link -------------------------------*/
  a:visited {
    color: rgba(196, 7, 7, 0.905);
  }
  
  /*---------------------------- mouse over link ----------------------------*/
  a:hover {
    color: rgb(0, 0, 0);
  }
  
  /*------------------------------ selected link------------------------------ */
  a:active {
    color: blue;
  }
  
  a:focus{
    box-shadow: 5px 10px 10px 0px rgba(23, 23, 23, 0.539);
    color: #000;
    font-size: 40px;
    position: relative;
    top: -10px;
  }

  ul {
    list-style-type: none;
    overflow: hidden;
    font-size: 25px;
  }
  
  li {
    float: left;
    padding-left: 100px;
    padding-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
   
  }
  
  li a {
    display:  inline;
    padding: auto 75px;
  }

  .nav{
    width: 100%;
    height: 10%;
    margin: 0px auto;
    padding: 00px 20px;
    background-color: #e6e0e023;
    position: fixed;
    display: inline;
  }

/*-------------------------Foot (Reach Us Styling)------------------------------------*/

/*-------icons----------*/

#foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.596);
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
    font-size: 1.5rem;
    box-shadow: 0px 10px 30px 0px;
    height: 20%;
}

/*----------------------------------Contact links----------------------------------*/

#foot a{
    padding: 10px;
    text-decoration: none;
    color: rgb(254, 254, 254);
    font-style: oblique;
    line-height: 175%;
}

#foot i{
    padding-right: 15px;
}

p::first-line{
    color: rgb(0, 0, 0);
    font-weight: 600;
    box-shadow: 10px 0px 0px 3px rgb(255, 255, 255);
}



/*------------------------------------ Responsive layout -------------------------------- */

@media (max-aspect-ratio: 1/1) {
  .nav{
    min-width: 500px ;
  }
}

@media screen and (max-width: 800px) {
  .nav{
    min-width: 500px ;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .nav{
    flex: 100% ;
  }
}