.b1{
    background-color: rgb(5, 138, 255);
}

.b2{
    background-color: rgb(255, 25, 0);
}

.b1,.b2{
    text-align: center;
    color: aliceblue;
    font-weight: 600;
    max-width: 300px;
}

.my-custom-row{
    margin-top: 100px;
    width: inherit;
}

.custom-row2{
    margin-top: 1%;
    width: inherit;
    font-weight: 700;
    text-align: center;
}